.topic-avatar img.avatar {
	margin-top: 0.5em;
	margin-left: 0.5em;
}

.alert {
	margin-bottom: 1em !important;
}

.heatmap-high {
	color: #fe7a15 !important;
}
.heatmap-med {
	color: #cf7721 !important;
}
.heatmap-low {
	color: #9b764f !important;
}
.heatmap-high a {
	color: #fe7a15 !important;
}
.heatmap-med a {
	color: #cf7721 !important;
}
.heatmap-low a {
	color: #9b764f !important;
}
