// Variables  ---------------------------------------------------------------------------------

$main-color: #00bcd4;
$trim-color: white;
$main-background: rgba(19, 20, 24, 0.9);
$secondary-background: rgba(0, 0, 0, 0.4);
$border-color: rgba(255, 255, 255, 0.1);

$body-background-gradient-direction: bottom right;
$body-background-gradient-color-first: #2196f3;
$body-background-gradient-color-second: #00bcd4;
$body-background-pattern-opacity: 1;
$body-background-gradient-opacity: 0.2;

$danger-color: #96000e;
$ok-color: #00bf9a;

$highlight-color: rgba(255, 255, 255, 0.1);
$highlight-speed: 1.5s;

// fonts --------------------------------------------------------------------------------------

html {
	font-family: "Roboto", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}

.cooked p {
	font-size: 1.25em;
	line-height: 1.6;
}

#topic-title h1 {
	font-size: 1.25em;
}

.user-navigation .nav-stacked a.active {
	font-weight: normal;
}

#banner #banner-content span {
	text-decoration: none;
}

// Reset   ------------------------------------------------------------------------------------

$n: none;

.topic-list .posters,
input {
	box-sizing: content-box;
}

#topic-title .title-wrapper,
#topic-footer-buttons,
.embedded-posts.top,
#main-outlet,
.user-table {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
}

* {
	outline-color: $main-color;
}

// colors -------------------------------------------------------------------------------------

// color trim color -----------------------------

.badge-notification,
.nav-pills > li > a:hover,
.layouts-nav-button > li > a:hover,
.btn-primary,
.btn,
.category-list .topics .badge-notification,
.category-list .category .badge-notification,
.btn:hover,
.btn.btn-hover,
.timeline-container .topic-timeline .timeline-handle,
.btn:active,
.btn:focus,
.media .media-left img,
.modal-dialog .modal-content,
.modal-dialog.cascading-modal .modal-header,
.z-depth-1-half,
ul.instagram-photos li img,
.btn-primary:hover,
.btn-primary.btn-hover,
.nav-pills > li.active > a,
.layouts-nav-button > li.active > a,
.nav-pills > li > a.active,
.layouts-nav-button > li > a.active,
.open .grippie,
.badge-notification.new-posts,
.badge-notification.unread-posts,
.admin-controls .nav.nav-pills li.active a,
#user-card .card-content,
.user-nav,
.btn-danger[href],
.btn-danger,
.badge-notification.clicks,
.topic-map .link-summary .btn,
.bootbox.modal .modal-footer a.btn-primary,
span.helpful-flags,
span.flagged-posts,
span.deleted-posts,
.modal.history-modal del 
 {
	color: $trim-color;
}

.list-cell,
.table-heading,
.category-list td,
.category-list th,
.latest-topic-list .table-heading,
.settings .setting .desc,
#topic-footer-buttons p,
.small-action .small-action-desc.timegap,
.links-section .domain,
.top-sub-section .topic-info,
.user-main .staff-counters,
.topic-list .topic-list-item-separator td span,
nav.post-controls .highlight-action,
.gap,
{
	color: darken($trim-color, 35%);
}

.user-main .staff-counters a,
a.mention {
	color: $main-color;
}

// backgrounds --------------------------------------------------------------------------------

// background main color ------------------------

.timeline-container .topic-timeline .timeline-handle,
.btn:active,
.btn:focus,
.media .media-left img,
.modal-dialog .modal-content,
.modal-dialog.cascading-modal .modal-header,
.z-depth-1-half,
ul.instagram-photos li img,
.btn-primary:hover,
.btn-primary.btn-hover,
.nav-pills > li.active > a,
.layouts-nav-button > li.active > a,
.nav-pills > li > a.active,
.layouts-nav-button > li > a.active,
.open .grippie,
.badge-notification.new-posts,
.badge-notification.unread-posts,
.admin-controls .nav.nav-pills li.active a {
	background: darken($main-color, 10%);
}

// background main background  ------------------

.user-table,
.badge-card,
ul.cat-list,
ul.general,
.boxed.white,
.alert.alert-info,
.body-page,
.topic-list,
.topic-list tbody tr:nth-of-type(even),
.category-list,
.category-list tbody tr:nth-of-type(even),
.search-container,
.search-advanced-options,
.user-stream-item.item,
tr.topic-list-item-separator + .topic-list-item + .topic-list-item,
.category-boxes .category-box-inner,
.category-boxes-with-topics .category-box-inner,
#topic-title .title-wrapper,
.list-controls,
.top-lists,
.topic-list-bottom,
.full-width > ul.nav.nav-pills,
#banner,
.latest-topic-list-item:nth-of-type(odd),
.latest-topic-list,
.topic-body .contents .cooked,
section.post-menu-area,
.post-links-container,
.offset2 .reply .topic-body .cooked,
.moderator .names span.user-title,
.topic-post.deleted section.post-actions,
.presence-users,
.post-actions,
#user-card .card-content,
.user-nav,
.user-main .staff-counters {
	background: $main-background;
}

table.topic-list > thead,
table.category-list > thead,
.topic-meta-data,
.topic-map,
.latest-topic-list .table-heading,
.table-heading,
.reply .topic-meta-data,
.deleted section.embedded-posts .topic-meta-data {
	background: rgba(0, 0, 0, 0.7);
}

// background secondary background --------------

.btn:not(:hover):not(.btn-danger),
.nav-pills > li > a:hover,
.layouts-nav-button > li > a:hover,
.admin-controls,
.topic-map .buttons .btn,
section.embedded-posts.bottom,
section.embedded-posts.top {
	background: $secondary-background;
}

// background custom background -----------------

button.cancel:hover,
.topic-post.deleted .topic-meta-data {
	background: $danger-color;
}

button.ok:hover {
	background: $ok-color;
}

// background none ------------------------------

.topic-body .reply-to-tab,
.list-controls a,
.d-header-icons a.icon,
.avatar-wrapper,
.user-navigation .nav-stacked a,
#user-card,
.user-content,
.main-content .nav-drop .nav-dropdown-menu a:hover,
.list-controls .category-dropdown-menu a:hover,
.list-controls .category-dropdown-menu a:hover,
li.toggle-maximize a,
a.mention,
a.mention-group,
.user-badge,
#user-card.show-badges .more-user-badges,
.list-controls .category-breadcrumb li.bullet > .dropdown-header,
.menu-links-header a:hover,
.extra-info-wrapper .discourse-tag,
.d-header-icons .icon:hover,
.d-header-icons .icon:active,
.widget-container,
.d-editor-container .d-editor-button-bar .btn,
.reply *.topic-body,
tr.topic-list-item-separator + .topic-list-item,
.deleted .topic-body {
	background: $n;
}

// borders  ----------------------------------------------------------------------------------

// border border none ---------------------------

.main-content.nav-menu-enabled .list-controls,
div.menu-links-header a,
.user-main .about.collapsed-info .details,
.user-main .about .secondary,
.user-badge,
#user-card.show-badges .more-user-badges,
.d-editor-button-bar button,
.topic-list-item,
.topic-title,
.topic-post article.boxed,
.main-content.topic.has-sidebars #topic-title,
.user-stream .item,
.user-stream .user-stream-item,
.d-header img.avatar,
.topic-status-info,
.main-content .list-controls,
.main-content.nav-menu-enabled .list-controls,
.main-content.has-sidebars .container.list-container,
img.avatar,
.topic-status-info,
.topic-avatar,
.topic-body,
.topic-map,
.topic-map section,
.topic-map .buttons .btn,
.embedded-posts .topic-body,
.embedded-posts .row {
	border: $n !important;
}

// border border 1px  ----------------------------

.menu-panel,
#share-link.visible,
.admin-controls,
.user-stream .item,
.user-stream .user-stream-item,
#user-card .card-content,
#user-card.show-badges .badge-section .user-badge,
#user-card.show-badges .badge-section .more-user-badges,
.badge-card .badge-contents,
nav.post-controls .post-admin-menu,
.badges .content-list ul li {
	border: 1px solid;
}

// border border-top ------------------------------

hr,
.post-links-container .post-links,
.admin-contents table td,
.reply > .row,
section.embedded-posts.bottom,
.category-list tbody tr:first-of-type,
.reply .topic-body,
.small-action,
.topic-post.deleted section.post-actions {
	border-top: 1px solid;
}

// border border-bottom ---------------------------

.topic-list .topic-list-item-separator td,
.nav-stacked li,
.admin-contents table td,
.table-heading,
.reply .topic-body,
.topic-meta-data {
	border-bottom: 1px solid;
}

// border border-color ----------------------------

img.avatar,
.menu-panel,
#share-link.visible,
.topic-list .topic-list-item-separator td,
.admin-controls,
.topic-status-info,
.admin-controls .nav.nav-pills li.active a,
hr,
.nav-stacked li,
.post-links-container .post-links,
.user-stream .item,
.user-stream .user-stream-item,
#user-card .card-content,
#user-card.show-badges .badge-section .user-badge,
#user-card.show-badges .badge-section .more-user-badges,
.badge-card .badge-contents,
nav.post-controls .post-admin-menu,
.badges .content-list ul li,
.admin-contents table td,
.reply,
.timeline-container .topic-timeline .timeline-scrollarea,
.admin-list-item,
section.about table td,
section.about table th,
.display-row,
.search-advanced-options,
.user-stream-item.item,
.category-boxes .category-box-inner,
.category-boxes-with-topics .category-box-inner,
.category-list tbody tr,
.reply > .row,
section.embedded-posts.bottom,
.category-list tbody tr:first-of-type,
.reply .topic-body,
.small-action,
.topic-post.deleted section.post-actions,
.category-list tbody tr,
.latest-topic-list-item,
.table-heading,
.reply .topic-body,
.topic-meta-data,
.latest-topic-list-item,
.category-list tbody tr {
	border-color: $border-color !important;
}

// border custom borders ---------------------------

img.avatar,
.docked .d-header {
	border-bottom: $n;
}

.drop-down-visible .d-header-icons .active .icon:after,
#reply-control.closed {
	border-top: $n;
}

.user-right .topic-list-item {
	border-right: $n;
}

.admin-detail {
	border-left: solid 1px $border-color;
}

.category-boxes .category-box-inner,
.category-boxes-with-topics .category-box-inner {
	border-width: 1px;
}

// Margins ------------------------------------------------------------------------------------

// 0 auto ------------------------------------------

.main-content,
img.avatar,
ol.category-breadcrumb,
section.navigation-container,
td.main-link .topic-thumbnail,
td.main-link .topic-title,
#topic-footer-buttons,
.main-content .regular,
#topic-title,
.alert,
#topic-title .title-wrapper,
#topic-footer-buttons {
	margin: 0 auto;
}

// margin zero --------------------------------------

.topic-list-item,
#list-area,
.topic-meta-data,
.extra-info-wrapper .topic-header-extra,
.topic-post.deleted section.post-actions .post-action {
	margin: 0;
}

// margin small all sides ---------------------------

.topic-avatar {
	margin: 0.5em;
}

// margin large all sides ---------------------------

.badges .content-list ul li,
.user-main .about .details img.avatar,
.user-main .about .details .primary h1,
.user-stream-item.item {
	margin: 1em;
}

// margin Large on side only ------------------------

.user-main .about .secondary dd,
.main-content {
	margin: 0 1em;
}

// up-down medium only ------------------------------

.top-title-buttons,
.user-stream .excerpt,
td.main-link .topic-excerpt,
.alert,
.topic-post article.boxed,
.categories-widget ul li,
.time-gap.small-action.clearfix,
.admin-controls {
	margin: 0.75em 0;
}

// up-down large only ------------------------------

.list-controls,
.top-lists,
.topic-list-bottom {
	margin: 1em 0;
}

// Top zero -----------------------------------------

.user-main .about.collapsed-info .details,
#user-card .user-card-avatar,
.top-lists,
.user-table,
.topic-map,
.embedded-posts .cooked,
.topic-body .regular,
section.post-menu-area,
.post-links-container .post-links {
	margin-top: 0;
}

// margin custom margin -----------------------------

.list-controls .btn,
.list-controls .nav,
section.post-menu-area {
	margin-bottom: 0;
}

.boxed.white {
	margin-bottom: 10em;
}

.desc {
	margin-top: 4px;
}

#user-card .user-card-avatar {
	margin-right: 0.5em;
}

.extra-info-wrapper .badge-wrapper.bullet {
	margin-top: 2px;
}

ul.subcat-list,
.topic-users {
	margin-left: 1em;
}

#reply-control #reply-title {
	margin-bottom: 10px;
}

.topic-map .avatar {
	margin-right: 4px;
}

section.navigation-container {
	margin: 0.5em 0;
}

.user-nav {
	margin: 10px 0;
}

.signup-cta .buttons,
.presence-users {
	margin-bottom: 1em;
}

.topic-avatar,
.offset2 .topic-avatar {
	margin-left: 0;
	margin-top: 0;
}

.post-links-container ul li {
	margin-bottom: 0.5em;
}

.embedded-posts.top {
	margin-left: 52px;
}

.categories-list .category-list {
	margin-left: 0;
}

.cooked li {
	margin: 0.5em 0;
}

// padding ------------------------------------------------------------------------------------

// padding zero -------------------------------------

.topic-users > .inline,
a.mention,
a.mention-group,
.cooked .lightbox-wrapper,
.topic-post article.boxed,
.topic-avatar,
.topic-body,
.embedded-posts.bottom .row,
.boxed .contents,
.topic-post.deleted section.post-actions .post-action {
	padding: 0;
}

// Top zero -----------------------------------------

.topic-list-item,
.sidebar-container .sidebar-content > div,
.extra-info-wrapper .topic-header-extra {
	padding-top: 0;
}

// padding small all sides -------------------------

.presence-users {
	padding: 0.5em;
}

// padding medium all sides -------------------------

.user-badge,
#user-card.show-badges .more-user-badges,
.topic-list-item,
.badge-info,
.list-controls,
.top-lists,
.topic-list-bottom {
	padding: 0.75em;
}

// padding large all sides ---------------------------

.topic-list-item,
.user-stream .item,
.user-stream .user-stream-item,
.user-table,
.user-main .about.collapsed-info .details,
#user-card .card-content,
.admin-contents table td,
.main-content .list-controls,
.main-content.nav-menu-enabled .list-controls,
.body-page,
.search-container,
.search-advanced-options,
#topic-title .title-wrapper,
#topic-footer-buttons {
	padding: 1em;
}

// padding x-Large on sides only ----------------------

.topic-list .topic-list-item-separator td span,
.main-content .nav-drop .selected-nav-item,
.cooked,
.moderator .cooked,
.post-menu-area {
	padding: 0 1.25em;
}

// custom padding -------------------------------------

.post-links-container,
.reply .topic-body {
	padding: 0 1em;
}

.post-links-container ul li {
	padding: 0.25em;
}

.post-links-container .post-links {
	padding: 1em 0;
}

.topic-map .buttons .btn {
	padding: 3px 25px;
}

.sidebar-container .sidebar-content > div {
	padding-bottom: 0;
}
.content-wrapper {
	padding-bottom: 150px;
}

.user-right {
	padding-left: 1em;
}

.reply {
	padding-top: 1em;
}

.create-new-topic {
	padding: 5px 0px 0px 5px;
}
.list-controls .category-breadcrumb a.badge-category,
.list-controls .category-breadcrumb .dropdown-header {
	padding: 5px 8px 0 0;
}

nav.post-controls {
	padding: 0 0 1em;
}

.admin-content .admin-contents,
.admin-detail {
	padding: 1.5em;
}

.boxed.white,
.user-table {
	padding-bottom: 3em;
}

.list-controls {
	padding-top: 3px;
}

.user-nav,
.full-width > ul.nav.nav-pills {
	padding-top: 10px;
	padding-bottom: 10px;
}

.reply .topic-body {
	padding-left: 0;
}

.topic-body .contents .cooked,
.offset2 .cooked {
	padding-top: 15px;
}

section.post-menu-area {
	padding-top: 20px;
	padding-bottom: 10px;
}

section.embedded-posts.bottom,
section.embedded-posts.top {
	padding: 1em 0.5em 2em 0.5em;
}

.topic-post.deleted section.post-actions {
	padding: 0.75em 1.75em;
}

.topic-meta-data {
	padding: 0.75em 1.25em;
}

#main-outlet {
	padding-top: 80px;
}

.post-actions {
	padding: 0 1.25em;
}

.post-actions .post-action {
	padding: 1em 0;
}

.user-nav,
.full-width > ul.nav.nav-pills {
	padding: 10px;
}

// Display ------------------------------------------------------------------------------------

// display inline block -------------------------------

#topic-title .title-wrapper,
#topic-footer-buttons,
.top-title-buttons,
.user-badge,
#user-card.show-badges .more-user-badges,
.category-list tbody .category,
.nav-pills > li,
.layouts-nav-button > li {
	display: inline-block;
}

// display block --------------------------------------

.presence-users {
	display: block;
}

// display inline -------------------------------------

.user-main .about .secondary dd {
	display: inline;
}

// height and width ---------------------------------------------------------------------------

// width 100% -----------------------------------------

.main-content .regular {
	width: 100%;
}

// max-width 95vw -------------------------------------

.main-content,
.alert,
#share-link.visible,
.wrap {
	max-width: 95vw;
}

// custom ---------------------------------------------

#topic-title .title-wrapper,
#topic-footer-buttons,
.presence-users {
	max-width: 100%;
}

.embedded-posts.top {
	width: 690px;
}

#topic-title .title-wrapper,
#topic-footer-buttons,
.presence-users,
.small-action {
	width: 743px;
}

.wrap {
	width: 1110px;
}

// Animation  ---------------------------------------------------------------------------------

.topic-list > tbody > tr.highlighted,
.topic-body.highlighted {
	animation: Vincent-highlight $highlight-speed ease-in-out;
}

@keyframes Vincent-highlight {
	0% {
		background-color: $highlight-color;
	}
}

// body background ----------------------------------------------------------------------------

body {
	position: relative;
	background-attachment: scroll;
	background: none;
}

body:before {
	display: block;
	content: "";
	z-index: 2;
	opacity: $body-background-gradient-opacity;
	background: linear-gradient(
		to $body-background-gradient-direction,
		$body-background-gradient-color-first,
		$body-background-gradient-color-second
	);
}

#background {
	z-index: 1;
	opacity: $body-background-pattern-opacity;
}

#background,
body:before {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
}

#main {
	z-index: 4;
}

.fixed-modal {
	background: rgba(64, 64, 64, 0.83);
}

.bootbox.modal {
	box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
}

.modal-backdrop {
	display: none;
}

// Inputs -------------------------------------------------------------------------------------

input[type="date"]:focus:not([readonly]),
input[type="datetime-local"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]),
input[type="number"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]),
input[type="search-md"]:focus:not([readonly]),
input[type="search"]:focus:not([readonly]),
input[type="tel"]:focus:not([readonly]),
input[type="text"]:focus:not([readonly]),
input[type="time"]:focus:not([readonly]),
input[type="url"]:focus:not([readonly]),
textarea.md-textarea:focus:not([readonly]) {
	border-color: rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid $main-color;
	box-shadow: $n;
}

.select-box-kit.combo-box .select-box-kit-header.is-focused,
.select-box-kit.combo-box .select-kit-header.is-focused,
.select-kit.combo-box .select-box-kit-header.is-focused,
.select-kit.combo-box .select-kit-header.is-focused {
	border: 1px solid $main-color;
	border-bottom-color: darken($main-color, 30%);
	-webkit-box-shadow: $n;
	box-shadow: $n;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
	border-color: $main-color;
	box-shadow: $n;
	outline: 0;
}

.select-box-kit.combo-box.is-expanded .select-kit-wrapper,
.select-kit.combo-box.is-expanded .select-kit-wrapper {
	border: 1px solid $main-color;
	-webkit-box-shadow: $n;
	box-shadow: $n;
}

.select-box-kit .select-box-kit-row.is-highlighted,
.select-box-kit .select-kit-row.is-highlighted,
.select-kit .select-box-kit-row.is-highlighted,
.select-kit .select-kit-row.is-highlighted,
.select-box-kit .select-box-kit-row.is-selected.is-highlighted,
.select-box-kit .select-kit-row.is-selected.is-highlighted,
.select-kit .select-box-kit-row.is-selected.is-highlighted,
.select-kit .select-kit-row.is-selected.is-highlighted {
	background: darken($main-color, 30%);
}

.select2-container-active {
	box-shadow: $n;
}

.select2-drop-active {
	border: 1px solid $main-color;
}

#reply-control .tag-chooser.select2-dropdown-open,
#reply-control .tag-chooser.select2-container-active {
	border-color: $main-color;
}

.select2-drop-active {
	border-top-color: darken($trim-color, 40%);
}

div.ac-wrap {
	padding-top: 0;
}

.select2-container * input:focus,
.ac-wrap > input:focus,
.user-selector.ember-text-field {
	box-shadow: $n;
	border: $n;
}

.select-box-kit.dropdown-select-box .dropdown-select-box-header.is-focused,
.select-kit.dropdown-select-box .dropdown-select-box-header.is-focused {
	outline-color: $main-color;
}

.select2-container-multi.select2-container-active .select2-choices {
	border: 1px solid $main-color;
}

// Media queries ------------------------------------------------------------------------------------

@media (max-width: 650px) {
	.topic-meta-data {
		padding-bottom: 50px;
	}
	.topic-avatar {
		margin-top: 1px;
	}
}

@media (max-width: 850px) {
	body {
		background: none;
	}

	.topic-list th,
	.topic-list td {
		padding: 0.75em;
	}

	.topic-map {
		margin-bottom: 0;
	}
}

// Extras -------------------------------------------------------------------------------------

.pace .pace-progress {
	background: $main-color;
}

.spinner {
	height: 35px;
	width: 35px;
	border: $n;
	box-shadow: inset 0 1px 1px $main-color;
	margin: 60px auto 0 auto;
}

.category-boxes .category-box-inner:hover,
.category-boxes-with-topics .category-box-inner:hover {
	background: $secondary-background;
	cursor: pointer;
}

.btn:hover .d-icon {
	opacity: 1;
}

.topic-list .posters a:first-child .avatar.latest:not(.single) {
	box-shadow: $n;
	border: 2px solid darken($main-color, 5%);
}

// edit history modal
.modal.history-modal .diff-ins {
	background: darken($main-color, 15%);
}

.modal.history-modal ins {
	color: lighten($main-color, 15%);
	background: darken($main-color, 25%);
}

// TESTS --------------------------------------------------------------------------------------

.main-content .nav-drop .selected-nav-item {
	line-height: 30px;
	height: 30px;
}

.user-badge,
#user-card.show-badges .more-user-badges {
	line-height: 19px;
}

.nav-pills > li,
.layouts-nav-button > li {
	float: none;
}

section.post-menu-area {
	position: relative;
}

a.expand-hidden {
	background: rgba(19, 20, 24, 0.9);
	display: block;
	padding: 1.25em;
}

.topic-avatar .avatar-flair {
	bottom: unset;
	top: 30px;
	right: -2px;
}

.cooked p {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: -0.07em 0 #222, 0 -0.07em #111, -0.07em 0 #111, 0 0.07em #222;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}

.cooked blockquote p,
.cooked p a,
span.hashtag {
	text-shadow: none;
}

.show-more.has-topics .alert {
	background: lighten($main-background, 10%);
	margin: 0;
}

.read-state {
	right: 6px;
}

.badge-category-bg {
	border-radius: 100vw;
}

header.d-header.clearfix {
	border-bottom: 1px solid #555555;
}

.topic-meta-data {
	border-radius: 3px 3px 0 0;
}

#user-card .card-content,
.modal-inner-container {
	background: #131418;
}

.embedded-posts.top {
	padding-bottom: 1em !important;
}

#reply-control .d-editor-preview img:not(.thumbnail),
.cooked img:not(.thumbnail) {
	max-width: 100%;
	height: auto;
}

.admin-interface .btn:not(:hover):not(.btn-danger) {
	background: rgba(255, 255, 255, 0.1);
}

#background,
body:before {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

a {
	transition: color 0.25s, background 0.25s, outline 0.25s,
	background-color 0.25s !important;
}

a:hover {
	color: $trim-color !important;
}

span.hashtag {
	color: #f44336;
}

a.mention,
a.mention-group {
	font-weight: normal;
}

// plugin support -----------------------------------------------------------------------------

// Retort  ---------------------------------------------

button.post-retort {
	z-index: 1;
}

button.post-retort:first-of-type {
	margin-left: 1.25em;
}

// Whos online  ---------------------------------------

#whos-online {
	padding: 1em 1.5em;
	background: $main-background;
	margin-bottom: 1em;
}
