// functions  --------------------------------------------------------------------------------

// Calculate brightness value
@function brightness($color) {
	@return (red($color) + green($color) + blue($color)) / (255 * 3);
}

// to base color
@function brightness_ratio($base, $color) {
	@return abs(brightness($base) - brightness($color));
}

// Compare colors to higher contrast
@function contrast($base, $color1: white, $color2: black) {
	@return if(brightness_ratio($base, $color1) > brightness_ratio($base, $color2), $color1, $color2);
}

// Compare colors to lower contrast (inverting the former contrast function)
@function invert-contrast($base, $color1: white, $color2: black) {
	@return if(brightness_ratio($base, $color1) > brightness_ratio($base, $color2), $color2, $color1);
}

// reverse lightness
@function reverse-lightness($color) {
	$result: 0;
	$value: lightness($color);
	@if $value >= 50 {
		$result: scale-color($color, $lightness: -$value);
	} @else {
		$result: scale-color($color, $lightness: 100% - $value);
	}
	@return $result;
}

// Variables  ---------------------------------------------------------------------------------

/*
$primary
$secondary
$tertiary
$quaternary
$header_background
$header_primary
$highlight
$danger
$success
$love
*/

$n: none;
$i: !important;

// palette colors -------------------------------

$theme-base: $tertiary !default;
$text-base: reverse-lightness($secondary) !default;
$main-background: rgba($header_background, 0.9) !default;
$secondary-background: rgba(contrast($primary), 0.4) !default;
$tertiary-background: rgba(contrast($primary), 0.7) !default;
$trim-background: rgba($text-base, 0.1) !default;

// derived colors -------------------------------

$border-color: $trim-background !default;
$highlight-color: $trim-background !default;
$theme-trim: $quaternary !default;
$link-color: lighten($theme-base, 15%) !default;

// theme settings -------------------------------

$body-background-pattern-opacity: 0.8 !default;
$body-background-gradient-opacity: 0.3 !default;
$body-background-gradient-direction: top left !default;
$body-background-gradient-color-first: adjust-hue($theme-base, 20deg) !default;
$body-background-gradient-color-second: adjust-hue($theme-base, -10deg) !default;
$highlight-speed: 1.5s !default;
$button-text-case: uppercase !default;
$text-shadow-value: 0 -0.07em 0 rgba(contrast($text-base), 0.2),
	0 0.07em 0 rgba(contrast($text-base), 0.2),
	0.07em 0 0 rgba(contrast($text-base), 0.2),
	-0.07em 0 0 rgba(contrast($text-base), 0.2) !default;

// fonts --------------------------------------------------------------------------------------

html {
	font-family: "Roboto", sans-serif;
	background: invert-contrast($theme-base);
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}

.cooked p {
	font-size: 1.25em;
	line-height: 1.6;
}

#topic-title h1 {
	font-size: 1.25em;
}

.user-navigation .nav-stacked a.active {
	font-weight: normal;
}

#banner #banner-content span {
	text-decoration: none;
}

.main-content .nav-drop .selected-nav-item {
	line-height: 30px;
	height: 30px;
}

.user-badge,
#user-card.show-badges .more-user-badges {
	line-height: 19px;
}

.cooked p {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: $text-shadow-value;
	-webkit-text-stroke: 1px rgba($secondary, 0.1);
}

.cooked blockquote p,
.cooked p a,
span.hashtag {
	text-shadow: $n;
}

i,
cite,
em,
var,
address,
dfn,
strong {
	font-size: 90%;
}

#login-buttons button {
	font-size: 1em;
}

// Reset   ------------------------------------------------------------------------------------

.topic-list .posters,
input {
	box-sizing: content-box;
}

#topic-title .title-wrapper,
#topic-footer-buttons,
.embedded-posts.top,
#main-outlet,
.user-table {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
}

* {
	outline-color: darken($theme-base, 15%);
}

// colors -------------------------------------------------------------------------------------

// color text base -----------------------------

.badge-notification,
.category-list .topics .badge-notification,
.category-list .category .badge-notification,
.timeline-container .topic-timeline .timeline-handle,
.media .media-left img,
.modal-dialog .modal-content,
.modal-dialog.cascading-modal .modal-header,
.nav-pills > li.active > a,
.layouts-nav-button > li.active > a,
.nav-pills > li > a.active,
.layouts-nav-button > li > a.active,
.open .grippie,
.badge-notification.new-posts,
.badge-notification.unread-posts,
.admin-controls .nav.nav-pills li.active a,
#user-card .card-content,
.user-nav,
.badge-notification.clicks,
span.helpful-flags,
span.flagged-posts,
span.deleted-posts,
.modal.history-modal del,
.nav-stacked li a,
.timeline-container .topic-timeline .timeline-handle,
.media .media-left img,
.modal-dialog .modal-content,
.modal-dialog.cascading-modal .modal-header,
.nav-pills > li.active > a,
.layouts-nav-button > li.active > a,
.nav-pills > li > a.active,
.layouts-nav-button > li > a.active,
.open .grippie,
.badge-notification.new-posts,
.badge-notification.unread-posts,
.admin-controls .nav.nav-pills li.active a,
#reply-control.draft,
#reply-control.saving,
.topic-post.deleted .topic-meta-data span,
.topic-post.deleted .topic-meta-data a {
	color: $text-base;
}

.list-cell,
.table-heading,
.category-list td,
.category-list th,
.latest-topic-list .table-heading,
.settings .setting .desc,
#topic-footer-buttons p,
.small-action .small-action-desc.timegap,
.links-section .domain,
.top-sub-section .topic-info,
.user-main .staff-counters,
.topic-list .topic-list-item-separator td span,
nav.post-controls .highlight-action,
.gap,
.period-chooser .top-date-string,
.small-action .small-action-desc,
.small-action .topic-avatar i {
	color: darken($text-base, 30%);
}

// backgrounds --------------------------------------------------------------------------------

// background theme base -------------------------

.media .media-left img,
.modal-dialog .modal-content,
.modal-dialog.cascading-modal .modal-header,
.nav-pills > li.active > a,
.layouts-nav-button > li.active > a,
.nav-pills > li > a.active,
.layouts-nav-button > li > a.active,
.open .grippie,
.badge-notification.new-posts,
.badge-notification.unread-posts,
.admin-controls .nav.nav-pills li.active a,
#reply-control.draft,
#reply-control.saving {
	background: darken($theme-base, 15%);
}

// background main background  ------------------

.user-table,
.badge-card,
ul.cat-list,
ul.general,
.boxed.white,
.alert.alert-info,
.body-page,
.topic-list,
.topic-list tbody tr:nth-of-type(even),
.category-list,
.category-list tbody tr:nth-of-type(even),
.search-container,
.search-advanced-options,
.user-stream-item.item,
tr.topic-list-item-separator + .topic-list-item + .topic-list-item,
.category-boxes .category-box-inner,
.category-boxes-with-topics .category-box-inner,
#topic-title .title-wrapper,
.list-controls,
.top-lists,
.topic-list-bottom,
.full-width > ul.nav.nav-pills,
#banner,
.latest-topic-list-item:nth-of-type(odd),
.latest-topic-list,
.topic-body .contents,
.offset2 .cooked,
.post-links-container,
.moderator .names span.user-title,
#post_1 .post-actions,
#user-card .card-content,
.user-nav,
.user-main .staff-counters {
	background: $main-background;
	color: reverse-lightness($main-background);
}

.topic-meta-data,
.topic-map,
.reply .topic-meta-data,
.deleted section.embedded-posts .topic-meta-data {
	background: $tertiary-background;
	color: reverse-lightness($tertiary-background);
}

// background secondary background --------------

.admin-controls,
section.embedded-posts.bottom,
section.embedded-posts.top {
	background: $secondary-background;
	color: reverse-lightness($secondary-background);
}

// background custom background -----------------

.topic-post.deleted .topic-meta-data {
	background: rgba($danger, 0.75);
}

button.ok:hover {
	background: $success;
}

// background none ------------------------------

.nav-pills > li > a:hover,
.layouts-nav-button > li > a:hover,
.topic-body .reply-to-tab,
.list-controls a,
.d-header-icons a.icon,
.avatar-wrapper,
.user-navigation .nav-stacked a,
.user-content,
.main-content .nav-drop .nav-dropdown-menu a:hover,
.list-controls .category-dropdown-menu a:hover,
.list-controls .category-dropdown-menu a:hover,
li.toggle-maximize a,
a.mention,
a.mention-group,
.user-badge,
#user-card.show-badges .more-user-badges,
.list-controls .category-breadcrumb li.bullet > .dropdown-header,
.menu-links-header a:hover,
.extra-info-wrapper .discourse-tag,
.d-header-icons .icon:hover,
.d-header-icons .icon:active,
.widget-container,
tr.topic-list-item-separator + .topic-list-item,
.deleted .topic-body,
.topic-map .buttons .btn {
	background: $n;
}

// borders  ----------------------------------------------------------------------------------

// border border none ---------------------------

.main-content.nav-menu-enabled .list-controls,
div.menu-links-header a,
.user-main .about.collapsed-info .details,
.user-main .about .secondary,
.user-badge,
#user-card.show-badges .more-user-badges,
.d-editor-button-bar button,
.topic-list-item,
.topic-title,
.topic-post article.boxed,
.main-content.topic.has-sidebars #topic-title,
.user-stream .item,
.user-stream .user-stream-item,
.d-header img.avatar,
.topic-status-info,
.main-content .list-controls,
.main-content.nav-menu-enabled .list-controls,
.main-content.has-sidebars .container.list-container,
img.avatar,
.topic-status-info,
.topic-avatar,
.topic-body,
.topic-map,
.topic-map section,
.embedded-posts .topic-body,
.embedded-posts .row,
.topic-map .buttons .btn,
.topic-post {
	border: $n $i;
}

// border border 1px  ----------------------------

.menu-panel,
#share-link.visible,
.admin-controls,
.user-stream .item,
.user-stream .user-stream-item,
#user-card .card-content,
#user-card.show-badges .badge-section .user-badge,
#user-card.show-badges .badge-section .more-user-badges,
.badge-card .badge-contents,
nav.post-controls .post-admin-menu,
.badges .content-list ul li {
	border: 1px solid;
}

// border border-top ------------------------------

hr,
.post-links-container .post-links,
.admin-contents table td,
.reply > .row,
section.embedded-posts.bottom,
.category-list tbody tr:first-of-type,
.reply .topic-body,
.small-action,
.topic-post.deleted section.post-actions {
	border-top: 1px solid;
}

// border border-bottom ---------------------------

.topic-list .topic-list-item-separator td,
.nav-stacked li,
.admin-contents table td,
.table-heading,
.reply .topic-body,
.topic-meta-data {
	border-bottom: 1px solid;
}

// border border-color ----------------------------

img.avatar,
.menu-panel,
#share-link.visible,
.topic-list .topic-list-item-separator td,
.admin-controls,
.topic-status-info,
.admin-controls .nav.nav-pills li.active a,
hr,
.nav-stacked li,
.post-links-container .post-links,
.user-stream .item,
.user-stream .user-stream-item,
#user-card .card-content,
#user-card.show-badges .badge-section .user-badge,
#user-card.show-badges .badge-section .more-user-badges,
.badge-card .badge-contents,
nav.post-controls .post-admin-menu,
.badges .content-list ul li,
.admin-contents table td,
.reply,
.timeline-container .topic-timeline .timeline-scrollarea,
.admin-list-item,
section.about table td,
section.about table th,
.display-row,
.search-advanced-options,
.user-stream-item.item,
.category-boxes .category-box-inner,
.category-boxes-with-topics .category-box-inner,
.category-list tbody tr,
.reply > .row,
section.embedded-posts.bottom,
.category-list tbody tr:first-of-type,
.reply .topic-body,
.small-action,
.topic-post.deleted section.post-actions,
.category-list tbody tr,
.latest-topic-list-item,
.table-heading,
.reply .topic-body,
.topic-meta-data,
.latest-topic-list-item,
.category-list tbody tr,
.popup-menu {
	border-color: $border-color $i;
}

// border custom borders ---------------------------

img.avatar,
.docked .d-header {
	border-bottom: $n;
}

.drop-down-visible .d-header-icons .active .icon:after,
#reply-control.closed {
	border-top: $n;
}

.user-right .topic-list-item {
	border-right: $n;
}

.admin-detail {
	border-left: solid 1px $border-color;
}

.category-boxes .category-box-inner,
.category-boxes-with-topics .category-box-inner {
	border-width: 1px;
}

// Margins ------------------------------------------------------------------------------------

// 0 auto ------------------------------------------

.main-content,
img.avatar,
ol.category-breadcrumb,
section.navigation-container,
td.main-link .topic-thumbnail,
td.main-link .topic-title,
#topic-footer-buttons,
.main-content .regular,
#topic-title,
.alert,
#topic-title .title-wrapper,
#topic-footer-buttons {
	margin: 0 auto;
}

// margin zero --------------------------------------

.topic-list-item,
#list-area,
.topic-meta-data,
.extra-info-wrapper .topic-header-extra,
.topic-post.deleted section.post-actions .post-action,
.show-more.has-topics .alert,
#post_1 .post-actions {
	margin: 0;
}

// margin small all sides ---------------------------

.topic-avatar {
	margin: 0.5em;
}

// margin large all sides ---------------------------

.badges .content-list ul li,
.user-main .about .details img.avatar,
.user-main .about .details .primary h1,
.user-stream-item.item {
	margin: 1em;
}

// margin Large on side only ------------------------

.user-main .about .secondary dd,
.main-content {
	margin: 0 1em;
}

// up-down medium only ------------------------------

.top-title-buttons,
.user-stream .excerpt,
td.main-link .topic-excerpt,
.alert,
.topic-post article.boxed,
.categories-widget ul li,
.time-gap.small-action.clearfix,
.admin-controls {
	margin: 0.75em 0;
}

// up-down large only ------------------------------

.list-controls,
.top-lists,
.topic-list-bottom {
	margin: 1em 0;
}

// Top zero -----------------------------------------

.user-main .about.collapsed-info .details,
#user-card .user-card-avatar,
.top-lists,
.user-table,
.topic-map,
.embedded-posts .cooked,
.topic-body .regular,
section.post-menu-area,
.post-links-container .post-links {
	margin-top: 0;
}

// margin custom margin -----------------------------

.list-controls .btn,
.list-controls .nav,
section.post-menu-area {
	margin-bottom: 0;
}

.boxed.white {
	margin-bottom: 10em;
}

.desc {
	margin-top: 4px;
}

#user-card .user-card-avatar {
	margin-right: 0.5em;
}

.extra-info-wrapper .badge-wrapper.bullet {
	margin-top: 2px;
}

ul.subcat-list,
.topic-users {
	margin-left: 1em;
}

#reply-control #reply-title {
	margin-bottom: 10px;
}

.topic-map .avatar {
	margin-right: 4px;
}

section.navigation-container {
	margin: 0.5em 0;
}

.user-nav {
	margin: 10px 0;
}

.signup-cta .buttons,
.topic-area .presence-users {
	margin-bottom: 1em;
}

.topic-avatar,
.offset2 .topic-avatar {
	margin-left: 0;
	margin-top: 0;
}

.post-links-container ul li {
	margin-bottom: 0.5em;
}

.embedded-posts.top {
	margin-left: 52px;
}

.categories-list .category-list {
	margin-left: 0;
}

.cooked li {
	margin: 0.5em 0;
}

// padding ------------------------------------------------------------------------------------

// padding zero -------------------------------------

.topic-users > .inline,
a.mention,
a.mention-group,
.cooked .lightbox-wrapper,
.topic-post article.boxed,
.topic-avatar,
.topic-body,
.embedded-posts.bottom .row,
.boxed .contents,
.topic-post.deleted section.post-actions .post-action {
	padding: 0;
}

// Top zero -----------------------------------------

.topic-list-item,
.sidebar-container .sidebar-content > div,
.extra-info-wrapper .topic-header-extra {
	padding-top: 0;
}

// padding small all sides -------------------------

.topic-area .presence-users {
	padding: 0.5em;
}

// padding medium all sides -------------------------

.user-badge,
#user-card.show-badges .more-user-badges,
.topic-list-item,
.badge-info,
.list-controls,
.top-lists,
.topic-list-bottom {
	padding: 0.75em;
}

// padding large all sides ---------------------------

.topic-list-item,
.user-stream .item,
.user-stream .user-stream-item,
.user-table,
.user-main .about.collapsed-info .details,
#user-card .card-content,
.admin-contents table td,
.main-content .list-controls,
.main-content.nav-menu-enabled .list-controls,
.body-page,
.search-container,
.search-advanced-options,
#topic-title .title-wrapper,
#topic-footer-buttons {
	padding: 1em;
}

// padding x-Large on sides only ----------------------

.topic-list .topic-list-item-separator td span,
.main-content .nav-drop .selected-nav-item,
.cooked,
.moderator .cooked,
.post-menu-area {
	padding: 0 1.25em;
}

// custom padding -------------------------------------

.post-links-container,
.reply .topic-body {
	padding: 0 1em;
}

.post-links-container ul li {
	padding: 0.25em;
}

.post-links-container .post-links {
	padding: 1em 0;
}

.topic-map .buttons .btn {
	padding: 3px 25px;
}

.sidebar-container .sidebar-content > div {
	padding-bottom: 0;
}
.content-wrapper {
	padding-bottom: 150px;
}

.user-right {
	padding-left: 1em;
}

.reply {
	padding-top: 1em;
}

.create-new-topic {
	padding: 5px 0px 0px 5px;
}
.list-controls .category-breadcrumb a.badge-category,
.list-controls .category-breadcrumb .dropdown-header {
	padding: 5px 8px 0 0;
}

nav.post-controls {
	padding: 0 0 1em;
}

.admin-content .admin-contents,
.admin-detail {
	padding: 1.5em;
}

.boxed.white,
.user-table {
	padding-bottom: 3em;
}

.list-controls {
	padding-top: 3px;
}

.user-nav,
.full-width > ul.nav.nav-pills {
	padding-top: 10px;
	padding-bottom: 10px;
}

.reply .topic-body {
	padding-left: 0;
}

.topic-body .contents .cooked,
.offset2 .cooked {
	padding-top: 15px;
}

section.post-menu-area {
	padding-top: 20px;
	padding-bottom: 10px;
}

section.embedded-posts.bottom,
section.embedded-posts.top {
	padding: 1em 0.5em 2em 0.5em;
}

.topic-post.deleted section.post-actions {
	padding: 0.75em 3px;
	padding-bottom: 0;
}

#main-outlet {
	padding-top: 80px;
}

#post_1 .post-actions {
	padding: 0 1.25em;
}

#post_1 .post-actions .post-action {
	padding: 0.25em 0;
	margin-top: 0;
}

.user-nav,
.full-width > ul.nav.nav-pills {
	padding: 10px;
}

.embedded-posts.top {
	padding-bottom: 1em $i;
}

a.expand-hidden {
	padding: 1.25em;
}

.topic-meta-data {
	padding: 0.75em 1.25em;
}

// Display and positioning --------------------------------------------------------------------

#topic-title .title-wrapper,
#topic-footer-buttons,
.top-title-buttons,
.user-badge,
#user-card.show-badges .more-user-badges,
.category-list tbody .category,
.nav-pills > li,
.layouts-nav-button > li {
	display: inline-block;
}

.user-main .about .secondary dd {
	display: inline;
}

.nav-pills > li,
.layouts-nav-button > li {
	float: none;
}

section.post-menu-area {
	position: relative;
}

.topic-avatar .avatar-flair {
	bottom: unset;
	top: 30px;
	right: -2px;
}

.main-content.loading .list-controls {
	display: none;
}

// height and width ---------------------------------------------------------------------------

// width 100% -----------------------------------------

.main-content .regular {
	width: 100%;
}

// max-width 95vw -------------------------------------

.main-content,
.alert,
#share-link.visible,
.wrap {
	max-width: 95vw;
}

// custom ---------------------------------------------

#topic-title .title-wrapper,
#topic-footer-buttons,
.topic-area .presence-users {
	max-width: 100%;
}

.embedded-posts.top {
	width: 690px;
}

#topic-title .title-wrapper,
#topic-footer-buttons,
.small-action {
	width: 743px;
	max-width: 100%;
}

.wrap {
	width: 1110px;
}

#reply-control .d-editor-preview img:not(.thumbnail),
.cooked img:not(.thumbnail) {
	max-width: 100% $i;
	height: auto;
}

// Animation  ---------------------------------------------------------------------------------

.topic-list > tbody > tr.highlighted,
.topic-body.highlighted {
	animation: Vincent-highlight $highlight-speed ease-in-out;
}

@keyframes Vincent-highlight {
	0% {
		background-color: $highlight-color;
	}
}

// body background ----------------------------------------------------------------------------

body {
	position: relative;
	background-attachment: scroll;
	background: none;
}

#background,
body:before {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

body:before {
	display: block;
	content: "";
	width: 100vw;
	z-index: -1;
	opacity: $body-background-gradient-opacity;
	background: linear-gradient(
		to $body-background-gradient-direction,
		$body-background-gradient-color-first,
		$body-background-gradient-color-second
	);
}

#background {
	z-index: -2;
	opacity: $body-background-pattern-opacity;
	min-width: 100vw;
	width: auto;
	overflow: hidden;
}

// fix IE EDGE backgrounds

@supports (-ms-ime-align: auto) {
	body:before {
		z-index: 2;
	}

	#background {
		z-index: 1;
	}

	#main {
		z-index: 4;
	}

	.fixed-modal {
		background: rgba(64, 64, 64, 0.83);
	}

	.bootbox.modal {
		box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
	}

	.modal-backdrop {
		display: none;
	}
}

@supports (-ms-accelerator: true) {
	body:before {
		z-index: 2;
	}

	#background {
		z-index: 1;
	}

	#main {
		z-index: 4;
	}

	.fixed-modal {
		background: rgba(64, 64, 64, 0.83);
	}

	.bootbox.modal {
		box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
	}

	.modal-backdrop {
		display: none;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	body:before {
		z-index: 2;
	}

	#background {
		z-index: 1;
	}

	#main {
		z-index: 4;
	}

	.fixed-modal {
		background: rgba(64, 64, 64, 0.83);
	}

	.bootbox.modal {
		box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
	}

	.modal-backdrop {
		display: none;
	}
}

// Inputs -------------------------------------------------------------------------------------

input {
	transition: border, box-shadow, color, outline, background;
	transition-duration: 0.5s;
}

input[type="date"]:focus:not([readonly]),
input[type="datetime-local"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]),
input[type="number"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]),
input[type="search-md"]:focus:not([readonly]),
input[type="search"]:focus:not([readonly]),
input[type="tel"]:focus:not([readonly]),
input[type="text"]:focus:not([readonly]),
input[type="time"]:focus:not([readonly]),
input[type="url"]:focus:not([readonly]),
textarea.md-textarea:focus:not([readonly]) {
	border-color: rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid darken($theme-base, 15%);
	box-shadow: $n;
}

.select-box-kit.combo-box .select-box-kit-header.is-focused,
.select-box-kit.combo-box .select-kit-header.is-focused,
.select-kit.combo-box .select-box-kit-header.is-focused,
.select-kit.combo-box .select-kit-header.is-focused {
	border: 1px solid darken($theme-base, 15%);
	-webkit-box-shadow: $n;
	box-shadow: $n;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
	border-color: darken($theme-base, 15%);
	box-shadow: $n;
	outline: 0;
}

.select-box-kit.combo-box.is-expanded .select-kit-wrapper,
.select-kit.combo-box.is-expanded .select-kit-wrapper {
	border: 1px solid darken($theme-base, 15%);
	-webkit-box-shadow: $n;
	box-shadow: $n;
}

.select-box-kit .select-box-kit-row.is-highlighted,
.select-box-kit .select-kit-row.is-highlighted,
.select-kit .select-box-kit-row.is-highlighted,
.select-kit .select-kit-row.is-highlighted,
.select-box-kit .select-box-kit-row.is-selected.is-highlighted,
.select-box-kit .select-kit-row.is-selected.is-highlighted,
.select-kit .select-box-kit-row.is-selected.is-highlighted,
.select-kit .select-kit-row.is-selected.is-highlighted {
	background: darken($theme-base, 30%);
}

.select2-container-active {
	box-shadow: $n;
}

.select2-drop-active {
	border: 1px solid darken($theme-base, 15%);
}

#reply-control .tag-chooser.select2-dropdown-open,
#reply-control .tag-chooser.select2-container-active {
	border-color: darken($theme-base, 15%);
}

.select2-drop-active {
	border-top-color: darken($text-base, 40%);
}

div.ac-wrap {
	padding-top: 0;
}

.select2-container * input:focus,
.ac-wrap > input:focus,
.user-selector.ember-text-field {
	box-shadow: $n;
	border: $n;
}

.select-box-kit.dropdown-select-box .dropdown-select-box-header.is-focused,
.select-kit.dropdown-select-box .dropdown-select-box-header.is-focused {
	outline-color: darken($theme-base, 15%);
}

.select2-container-multi.select2-container-active .select2-choices {
	border: 1px solid darken($theme-base, 15%);
}

// Links  -------------------------------------------------------------------------------------

a {
	color: $link-color;
	transition: all 0.25s ease $i;

	&:visited,
	&:active,
	&.hashtag,
	&.hashtag:visited {
		color: $link-color;
	}
	&:hover {
		color: invert-contrast($text-base) $i;
	}
	&.mention {
		color: adjust-hue($link-color, 10deg);
	}
	&.mention-group {
		color: adjust-hue($link-color, -10deg);
	}
}

.user-main .staff-counters a {
	color: $link-color;
}

// Buttons ------------------------------------------------------------------------------------

.btn {
	border-radius: 2px;
	position: relative;
	text-transform: $button-text-case;
	transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
	transform: translate3d(0, 0, 0);
	color: invert-contrast($text-base);
	background-color: transparent;

	&:hover,
	&:focus {
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		transition: box-shadow 0.4s ease-out;
	}

	&:hover,
	&.btn-hover {
		background-color: darken($theme-base, 15%);
		color: $text-base;
	}

	&.btn-social:hover,
	&.btn-social.btn-hover {
		background-color: $border-color;
		color: $text-base;
	}

	&[href] {
		color: invert-contrast($text-base);
	}

	&[disabled],
	&.disabled {
		opacity: 0.6;
	}

	&.hidden {
		display: none;
	}

	.d-icon {
		opacity: 0.9;

		&:hover {
			opacity: 1;
		}
	}

	&.btn-primary {
		color: $text-base;
		background-color: $border-color;

		&:hover,
		&.btn-hover {
			background-color: darken($theme-base, 15%);
			color: $text-base;
		}
	}

	&.btn-danger {
		color: $text-base;
		background-color: $danger;

		&:hover,
		&.btn-hover {
			background-color: lighten($danger, 15%);
			color: $text-base;
		}
	}
}

.d-editor-button-bar button {
	background-color: transparent;
	border: $n;
	box-shadow: $n;
	background: $n;
}

// Media queries ------------------------------------------------------------------------------

@media (max-width: 650px) {
	.topic-meta-data {
		padding-bottom: 50px $i;
	}

	.topic-avatar {
		margin-top: 1px;
	}
}

@media (max-width: 850px) {
	body {
		background: $n;
	}

	.topic-list th,
	.topic-list td {
		padding: 0.75em;
	}

	.topic-map {
		margin-bottom: 0;
	}
}

// Extras -------------------------------------------------------------------------------------

.pace .pace-progress {
	background: darken($theme-base, 15%);
}

.spinner {
	height: 35px;
	width: 35px;
	border: $n;
	box-shadow: inset 0 1px 1px lighten($theme-base, 15%);
	margin: 60px auto 0 auto;
}

.category-boxes .category-box-inner:hover,
.category-boxes-with-topics .category-box-inner:hover {
	background: $secondary-background;
	cursor: pointer;
}

.topic-list .posters a:first-child .avatar.latest:not(.single) {
	box-shadow: 0 0 2px 3px $link-color;
}

.modal.history-modal .diff-ins {
	background: darken($theme-base, 15%);
}

.modal.history-modal ins {
	color: lighten($theme-base, 15%);
	background: darken($theme-base, 25%);
}

.read-state {
	right: 6px;
}

.badge-category-bg {
	border-radius: 100vw;
}

.badge-wrapper.box span.badge-category-bg {
	border-radius: 0;
}

header.d-header.clearfix {
	border-bottom: 1px solid #555555;
}

.topic-meta-data {
	border-radius: 3px 3px 0 0;
}

.modal-inner-container {
	background: $header_background;
}

aside.onebox header a[href] {
	color: darken($text-base, 30%);
}

aside.onebox .onebox-body a[href],
aside.onebox .onebox-body a[href]:visited {
	color: $link-color;
}

aside.onebox {
	border: none;
	border-left: 4px solid darken($text-base, 35%);
	background: $trim-background;
	border-radius: 0 3px 3px 0;
}

aside.quote .title,
aside.quote blockquote,
blockquote {
	border-left: 3px solid $theme-base;
	background-color: $trim-background;
	border-radius: 0 3px 3px 0;
}

.modal-backdrop {
	background-color: #222;
}

#banner {
	max-width: 95vw;
	box-sizing: border-box;
	margin: 0 auto;
}

.moderator .topic-body .contents .cooked {
	background: $n;
	padding: 0 1.25em;
	padding-top: 15px;
}

.moderator .topic-meta-data {
	background: linear-gradient(
		to right,
		rgba(darken(invert($theme-base), 25%), 0.45),
		rgba(darken(invert($theme-base), 20%), 0.45)
	);
	border-bottom: none;
}

.modal.history-modal span.edit-reason {
	background-color: $border-color;
}

.directory {
	background: $main-background;
	padding: 2em;
}

.directory table tr.me td {
	background: $border-color;
}

.bootbox.modal {
	.modal-footer {
		a.btn-primary {
			color: $text-base;
		}
	}
}

.show-more.has-topics .alert {
	background: lighten($main-background, 10%);
}

.topic-area .presence-users {
	background: transparent;
	border-bottom: 1px solid $border-color;
	width: auto;
	display: inline-block;
}

// TESTS --------------------------------------------------------------------------------------

.container.show-badge {
	background: $main-background;
	padding: 2em;
	min-height: 70vh;
}

.list-controls .category-breadcrumb .dropdown-header {
	background: none !important;
	color: inherit !important;
}

.timeline-container .topic-timeline .timeline-handle {
	background: desaturate($theme-base, 20%);
}

.select-box-kit .select-box-kit-row.is-selected,
.select-box-kit .select-kit-row.is-selected,
.select-kit .select-box-kit-row.is-selected,
.select-kit .select-kit-row.is-selected {
	background: darken($theme-base, 25%);
}

.d-icon.d-icon-d-tracking,
.d-icon.d-icon-d-watching,
.badge-notification.new-topic {
	color: desaturate($theme-base, 20%);
}

.moderator .topic-meta-data div * {
	color: invert-contrast(invert($theme-base));
}

table.topic-list > thead,
table.category-list > thead,
.latest-topic-list .table-heading,
.table-heading {
	background: $main-background;
	border-bottom: 1px solid $border-color;
}

// plugin support -----------------------------------------------------------------------------

// Retort  ---------------------------------------------

button.post-retort {
	z-index: 1;
	float: none;
}

button.post-retort:first-of-type {
	margin-left: 1.25em;
}

// Whos online  ---------------------------------------

#whos-online {
	padding: 1em 0.75em;
	background: $main-background;
	margin-bottom: 1em;
}

// Discourse Spoiler Alert  ---------------------------

.spoiled p {
	text-shadow: inherit;
	-webkit-text-stroke: inherit;
}

// Discourse signature plugin  ------------------------

.user-signature {
	padding: 0 1.25em;
}

// Discourse assign plugin  ------------------------

p.assigned-to {
	padding: 0 1.25em;
}

// The pit  --------------------------------------------------------------------

.cooked {
	color: #cbcbcb;
}

.post-info .wiki,
.post-info .last-wiki-edit {
	color: $success $i;
}

.lazyYT.lazyYT-container {
	width: calc(100% + 2.5em) !important;
	padding-bottom: calc(56.25% + 1.4em) !important;
	left: -1.25em !important;
}

.flagged-post .flagged-post-controls button {
	z-index: 1;
}

span.badge-category-parent-bg {
	border-radius: 100vw 0 0 100vw;

	+ .badge-category-bg {
		border-radius: 0 100vw 100vw 0;
	}
}
